.button{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.primary{
    background-color: rgb(0, 204, 255);
    color: blue;
    border: 2px solid;
}
.success{
    background-color: rgb(0, 128, 64);
    color: blue;
    border: 2px solid;
}
.danger{
    background-color: rgb(255, 30, 0);
    color: blue;
    border: 2px solid;
}
.warning{
    background-color: rgb(229, 255, 0);
    color: rgb(8, 4, 4);
    border: 2px solid;
}
.dark{
    background-color: #d6d8d9;
    color: #1b1e2121;
    border: 2px solid;
}



